.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    border: 1px solid black;
}

.hidden-bill {
    position: absolute;
    z-index: -20;
    opacity: 0;
    width: 600px;
}

.select-button {
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border: none;
    transition-duration: 0.2s;
}

.select-button:hover {
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 104px 56px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 104px 56px rgb(255, 255, 255);
    box-shadow: 0px 0px 104px 56px rgb(255, 255, 255);
}

.main-screen-button {
    width: 129px;
    height: 90px;
    transform: translate(92px, 54px) rotate(3deg);
}